@charset "UTF-8";
.header {
  width: 100%;
  height: 40px;
  background: #f7f7f7;
}
.header a {
  text-decoration: none;
}

.header_1 {
  width: 1190px;
  margin: 0 auto;
}
.header_1 p {
  font-size: 12px;
  float: left;
  color: #a8a8a8;
  line-height: 40px;
}
.header_1 p span {
  margin-left: 5px;
}
.header_1 ul {
  float: right;
  margin-top: 13px;
  list-style: none;
}
.header_1 ul li {
  float: left;
  width: 160px;
  margin-left: 25px;
  padding-right: 10px;
  color: #CCCCCC;
  font-size: 12px;
  font-family: "瀹嬩綋";
}
.header_1 ul li i {
  color: #e6186f;
}
.header_1 ul li em {
  font-size: 12px;
}

.header1 {
  height: 117px;
  width: 100%;
}

.header1_1 {
  padding-top: 37px;
  width: 1190px;
  height: 117px;
  margin: 0 auto;
  position: relative;
  background: url("../img/index/logo.jpg") no-repeat 0;
}
.header1_1 ul {
  list-style: none;
}
.header1_1 .first {
  float: right;
}
.header1_1 .first li {
  float: left;
  font-size: 18px;
  line-height: 38px;
  margin-right: 35px;
}
.header1_1 .first li i {
  color: #13489d;
  width: 34px;
  height: 38px;
  float: left;
  font-size: 35px;
  margin-right: 10px;
}

#searchInput {
  margin-left: 248px;
  font-family: microsoft yahei;
  font-size: 13px;
  line-height: 28px;
  float: left;
  width: 440px;
  height: 28px;
  text-indent: 5px;
  border: none;
  background: 0 0;
  border: 2px solid #13489d;
}

#btn {
  font-family: microsoft yahei;
  font-size: 15px;
  line-height: 26px;
  float: left;
  width: 106px;
  height: 28px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #13489d;
  cursor: pointer;
}

.search_link {
  width: 550px;
  height: 20px;
  line-height: 20px;
  margin-top: 39px;
  margin-left: 265px;
}
.search_link a {
  line-height: 13px;
  display: inline-block;
  height: 14px;
  margin-left: -11px;
  padding: 0 21px 0 10px;
  text-decoration: none;
  color: #b7b7b7;
  border-left: 1px solid #b7b7b7;
}
.search_link a:hover {
  color: #E6186F;
}

.header2 {
  height: 46px;
  width: 100%;
}
.header2 .header2_1 {
  height: 46px;
  width: 1190px;
  margin: 0 auto;
}
.header2 .header2_1 .fullProducts {
  font-size: 16px;
  float: left;
  height: 46px;
  line-height: 46px;
  width: 190px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #13489d;
}
.header2 .header2_1 .main_nav {
  list-style: none;
}
.header2 .header2_1 .main_nav li a {
  padding-left: 46px;
  line-height: 46px;
  position: relative;
  font-family: microsoft yahei;
  font-size: 15px;
  display: block;
  float: left;
  height: inherit;
  text-align: center;
  text-decoration: none;
  color: #222;
}

.sort_list {
  display: none;
  width: 190px;
  height: 480px;
  position: absolute;
  background-color: #0f5cb3;
  top: 295px;
  left: 45px;
}
.sort_list ul {
  width: 190px;
  list-style: none;
  padding-left: 0px;
}
.sort_list ul li {
  height: 51px;
  line-height: 51px;
  color: white;
}
.sort_list ul li i {
  line-height: 51px;
  float: left;
  margin-right: 23px;
  margin-left: 23px;
}

.detail_big {
  z-index: 200;
  height: 532px;
  width: 1000px;
  position: absolute;
  display: none;
  left: 235px;
  top: 296px;
  opacity: 0.78;
}
.detail_big .sort-detail-list {
  padding-left: 50px;
  float: left;
  width: 730px;
  background: #FFFFFF;
  height: 532px;
}
.detail_big .sort-detail-list dl {
  margin-bottom: 60px;
}
.detail_big .sort-detail-list dl dd a {
  float: left;
  margin-left: 20px;
  text-decoration: none;
  color: #b7b7b7;
  margin-top: 10px;
}
.detail_big .sort-detail-list dl dd a:hover {
  color: #E6186F;
}

.pinpai {
  background: #CCCCCC;
  height: 532px;
  width: 220px;
  float: right;
  opacity: 0.75;
}
.pinpai p {
  height: 50px;
  line-height: 50px;
}
.pinpai img {
  margin-left: 10px;
  margin-bottom: 10px;
}
.pinpai span锛歨over {
  color: #E6186F;
}

/*# sourceMappingURL=header.css.map */
