a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    			margin: 0;
    			padding: 0;
			}
body,html{
	margin:0;padding:0;
	font-family: "微软雅黑";
	font-size: 12px;
	height:100%;
}
ul,li,ol{
	list-style: none;
}
h1{text-decoration: none;}
a{ text-decoration: none;color: #000;}
.da-banner {
    width: 1200px;
    margin: 0 auto;
    z-index: 4;
    height: 100px;
}
.clearfix {
    zoom: 1;
}
.logo {
    float: left;
    width: 280px;
    height: 60px;
    background: url(../img/index/logo.png) no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
}
.da-login-bg {
    background: #f9fbfd;
    border-top: solid 1px #d8d8d8;
}

.da-login-index {
    width: 1200px;
    margin: 0 auto;
    height: 660px;
}
.login-ct {
    width: 390px;
    height: 446px;
    float: right;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 20px 30px;
    margin-top: 45px;
    margin-right: 80px;
}
.da-login-panel h2 {
    line-height: 30px;
    border-left: 3px solid #7d589d;
    font-size: 16px;
    font-weight: 400;
    text-indent: 10px;
    margin-bottom: 24px;
}
.da-login-panel .tabs {
    width: 282px;
    border-bottom: 1px solid #7d589d;
    padding: 0 36px;
    margin: 0 auto;
    height: 28px;
}
.da-login-panel .tabs a {
    display: block;
    float: left;
    height: 28px;
    width: 70px;
    text-align: center;
    font-size: 16px;
    margin-right: 36px;
}
.da-login-panel .tabs a.active {
    background-image: url(../img/regist/login_arr.png);
    background-position: 0 18px;
    background-repeat: no-repeat;
}
.register-form {
    margin: 40px 0 0 30px;
    width: 320px;
    font-size: 15px;
}
.da-login-panel .register-form .ctrl {
    margin-bottom: 20px;
}
form .ctrl {
    position: relative;
}
.login-sign {
    width: 40px;
    height: 38px;
    display: block;
    top: 1px;
    left: 1px;
    border-right: solid 1px #ccc;
    position: absolute;
}
.ico-user {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 19px;
    margin: 10px 0 0 10px;
    background: url(../img/login/ico-login.png) -29px 0 no-repeat;
}
.da-login-panel .register-form input {
    width: 265px;
    height: 36px;
    padding-left: 55px;
    line-height: 40px;
    border: 1px solid #ccc;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.ico-password{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 19px;
    margin: 10px 0 0 10px;
    background: url(../img/login/ico-login.png) -29px -27px no-repeat;
}
.da-login-panel .register-form .verify {
    width: 145px;
    margin-right: 16px;
}
 .da-login-panel .register-form .captcha {
    float: right;
    width: 100px;
    height: 28px;
    margin-top: 7px;
    border: 1px solid #666666;
    
}
.ico-msgcode {
    background:url(../img/login/ico-login.png) -29px -56px no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 23px;
    margin: 8px 0 0 10px;
}
.da-login-panel .register-form .sms{
	    width: 145px;
    	margin-right: 16px;
}
.da-login-panel .register-form button {
    float: right;
    background: #94d469;
    border: none;
    width: 100px;
    height: 28px;
    padding: 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-top: 7px;
}
 .da-login-panel .register-form .resent {
    display: none;
    background: #e5e5e5;
    color: #999;
    }
 .da-login-panel .register-form .ctrl1 {
    margin-bottom: 0;
}
.da-login-panel .register-form input {
    width: 265px;
    height: 36px;
    padding-left: 55px;
    line-height: 40px;
    border: 1px solid #ccc;
}
.da-login-panel .register-form input {
    width: 265px;
    height: 36px;
    padding-left: 55px;
    line-height: 40px;
    border: 1px solid #ccc;
}
.da-login-panel .register-form .ctrl p {
    margin-top: 6px;
    color: #a00;
}
 .da-login-panel .register-form .Agreement {
    font-size: 12px;
}
 .da-login-panel .register-form .Agreement input {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.da-login-panel .register-form .Agreement a {
    color: #00F;
}
 .da-login-panel .register-form .dispabled {
    background: #ccc;
}
.da-login-panel .register-form .submit-btn {
/*    background: #e14958;*/
    width: 320px;
    height: 40px;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 700;
    background:;
}
form .ctrl label.error, form .form-error {
    line-height: 30px;
    box-sizing: border-box;
    color: #fff;
    padding: 0 10px;
    white-space: nowrap;
    bottom: -38px;
    font-size: 12px!important;
}
form .ctrl label.error {
    position: absolute;
   	display: none;
    background: rgba(0,0,0,.75);
    filter: alpha(opacity=75);
    border-radius: 3px;
    z-index: 10;
    left: 6px;
    height: 30px;
    border: none!important;
}
/******************footer******************/
.da-assure {
    background-color: #fff;
    height: 79px;
    line-height: 79px;
    border-bottom: solid 1px #e0e0e0;
    box-shadow: 0 2px 2px #e0e0e0;
    border-top: solid 1px #d8d8d8;
    color: #666666;
}
.da-assure ul {
    width: 960px;
    margin: 0 auto;
}
.da-assure li {
    float: left;
    margin-left: 130px;
    font-size: 14px;
}
.da-assure li:first-child {
    margin-left: 0;
}
.da-assure .ico-arrow {
    background-position: -2px -135px;
    width: 22px;
    height: 41px;
    margin-left: 50px;
}
.ico-arrow {
    background: url(../img/index/ico_arrow.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.da-assure .assure-1{
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background: url(../img/login/ico-assure.png) no-repeat;
}
.da-assure .assure-2 {
    background: url(../img/login/ico-assure.png) -36px 0 no-repeat;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.da-assure .assure-3 {
    background: url(../img/login/ico-assure.png) -73px 0 no-repeat;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.da-investor {
    width: 1110px;
    margin: 0 auto;
    padding: 24px 0 40px 42px;
    border-bottom: solid 1px #d8d8d8;
    color: #666666;
}

.da-investor .first {
    width: 660px;
    float: left;
}
.da-investor dt {
    font-size: 18px;
    line-height: 40px;
}
.da-investor dd {
    font-size: 14px;
    line-height: 20px;
}
.da-investor .second {
    overflow: hidden;
}
.da-copyright {
    text-align: center;
    padding-bottom: 20px;
}
.da-copyright p {
    padding: 20px 0 0;
    color: #666666;
}

.f14 {
    font-size: 14px;
    color: #666666;
}
.da-copyright table {
    margin: 20px auto 0;
    width: 530px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 45px;
}
table td{
	padding: 0;
	height: 45px;
}
/*.da-copyright table a, .da-copyright table span {
    float: left;
    margin-right: 2px;
}
table tbody{
	height: 45px;
}
table tr{
	height: 45px;
}*/
.heiheihei li{
	float: left;
}

.da-copyright p {
    padding: 20px 0 0;
}
.captcha{
	background: #FFFFFF !important;
	color: royalblue !important;
	font-size: 16px !important;
	background: url(../img/regist/ico-login.png);
}
