.header {
    width: 100%;
    height: 40px;
    background: #f7f7f7;
    a {
        text-decoration: none;
    }
}
.header_1 {
    width: 1190px;
    margin: 0 auto;
    p {
        font-size: 12px;
        float: left;
        color: #a8a8a8;
        line-height: 40px;
        span {
            margin-left: 5px;
        }
    }
    ul {
        float: right;
        margin-top: 13px;
        list-style: none;
        //     margin-left: 20px;
        li {
            float: left;
            width: 160px;
            margin-left: 25px;
            padding-right: 10px;
            color: #CCCCCC;
            font-size: 12px;
            font-family: "宋体";
            i {
                color: #e6186f;
            }
            em {
                font-size: 12px; //             padding-top: ;
            }
        }
    }
}
.header1 {
    height: 117px;
    width: 100%;
}
.header1_1 {
    padding-top: 37px;
    width: 1190px;
    height: 117px;
    margin: 0 auto;
    position: relative; //  background: deepskyblue;
    background: url("../img/index/logo.jpg") no-repeat 0;
    ul {
        list-style: none;
    }
    .first {
        float: right;
        li {
            float: left;
            font-size: 18px;
            line-height: 38px;
            margin-right: 35px;
            i {
                color: #13489d;
                width: 34px;
                height: 38px;
                float: left;
                font-size: 35px;
                margin-right: 10px;
            }
        }
    }
}
#searchInput {
    margin-left: 248px;
    font-family: microsoft yahei;
    font-size: 13px;
    line-height: 28px;
    float: left;
    width: 440px;
    height: 28px;
    text-indent: 5px;
    border: none;
    background: 0 0;
    border: 2px solid #13489d;
}
#btn {
    font-family: microsoft yahei;
    font-size: 15px;
    line-height: 26px;
    float: left;
    width: 106px;
    height: 28px;
    text-align: center;
    color: #fff;
    border: none;
    background-color: #13489d;
    cursor: pointer;
}
.search_link {
    width: 550px;
    height: 20px;
    line-height: 20px;
    margin-top: 39px;
    margin-left: 265px;
    a {
        line-height: 13px;
        display: inline-block;
        height: 14px;
        margin-left: -11px;
        padding: 0 21px 0 10px;
        text-decoration: none;
        color: #b7b7b7;
        border-left: 1px solid #b7b7b7;
        &:hover{
            color: #E6186F;
        }
    }
   
}
.header2 {
    height: 46px;
    width: 100%;
    .header2_1 {
        height: 46px;
        width: 1190px;
        margin: 0 auto;
//      background: deeppink;
        .fullProducts {
            font-size: 16px;
            float: left;
            height: 46px;
            line-height: 46px;
            width: 190px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #13489d;
        }
        .main_nav {
            list-style: none; //              margin-left: ;
            li a {

                padding-left: 46px;               
                line-height: 46px;
                position: relative;
                font-family: microsoft yahei;
                font-size: 15px;
                display: block;
                float: left;
                height: inherit;
                text-align: center;
                text-decoration: none;
                color: #222;
                
            }
          
        }
    }
}
.sort_list{
    display: none;
    width: 190px;
    height: 480px;
    position: absolute;
    background-color: #0f5cb3;
      top: 295px;
    left: 45px;
    ul{
        width: 190px;
        list-style: none;
        padding-left: 0px;
        li{
       height: 51px;
       line-height: 51px;
    color: white;
    i{
        line-height: 51px;
        float: left;
        margin-right: 23px;
        margin-left: 23px;
    }
        }

            
          
        
    }
}
.detail_big{
    z-index: 200;
    height: 532px;
    width: 1000px;
    position: absolute;
//  background: #CCCCCC;
display: none;
   left: 235px;
    top: 296px;
    opacity: 0.78;
    .sort-detail-list{
        
        padding-left: 50px;
        float: left;
    width: 730px;
    background: #FFFFFF;
    height: 532px;
    dl{
        margin-bottom: 60px;
    }
    dl dd{
        a{
        float: left;
        margin-left: 20px;
        text-decoration: none;
              color: #b7b7b7;
              margin-top: 10px;
              
       &:hover{
            color: #E6186F;
       }
    }
    }
    }
}
.pinpai{
    background: #CCCCCC;
    height: 532px;
    width: 220px;
    float: right;
    opacity: 0.75;
    p{
        height: 50px;
        line-height: 50px;
    }
    img{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    span{
        &：hover{
            color: #E6186F;
        }
    }
}
